# Common
BASE_PATH=/data
CERT_PATH=/etc/letsencrypt

# PostgreSQL
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db

# Netbox
VERSION=v2.6.1
CORS_ORIGIN_ALLOW_ALL=True
CORS_ORIGIN_WHITELIST=https://<SITE URL>
DB_NAME=postgres_db
DB_USER=postgres_user
DB_PASSWORD=postgres_password
DB_HOST=postgres
EMAIL_SERVER=localhost
EMAIL_PORT=25
EMAIL_USERNAME=netbox
EMAIL_PASSWORD=
EMAIL_TIMEOUT=5
EMAIL_FROM=netbox_email_from
MEDIA_ROOT=netbox_media_root
NAPALM_USERNAME=
NAPALM_PASSWORD=
NAPALM_TIMEOUT=10
MAX_PAGE_SIZE=1000
SECRET_KEY=netbox_secret_key
SUPERUSER_NAME=netbox_superuser_name
SUPERUSER_EMAIL=netbox_superuser_email
SUPERUSER_PASSWORD=netbox_superuser_password
SUPERUSER_API_TOKEN=netbox_superuser_api_token
WEBHOOKS_ENABLED=True
NETBOX_URL_CONFIG=netbox_url_config

# Redis
REDIS_HOST=redis
REDIS_PASSWORD=redis_password

# Traefik
TRAEFIK_TOML_FILE=./traefik.toml
SITE_URL=traefik.frontend.rule=Host:<SITE URL>

